<template>
  <Nav />
</template>

<script lang="ts">
    import Nav from "@/components/Nav.vue";

    export default {
    components: {
        Nav,
    }

};
</script>

<style lang="scss">
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#nav {
    padding-top: 15px;
    padding-bottom: 35px;

    a {
        font-weight: bold;
        /* color: #2c3e50; */

        &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
