<template>
  <div class="file-list mb-5" v-for="(file, index) in fileList" :key="file">
    <div class="d-flex flex-row align-items-center">
      <img :src="file" class="img-fluid me-5" />
      <a :href="file">{{ getFilename(file) }}</a>
      <span class="flex-grow-1"></span>
      <button class="btn btn-danger" @click="sendDeleteRequest(file, index)">Delete</button>
    </div>
    <hr />
  </div>
</template>

<script lang="ts">
    import { defineComponent } from "vue";
import { deleteFile } from "@/func/upload";

export default defineComponent({
    name: "FileList",
    props: {
        fileList: Array,
        default: []
    },
    methods: {
        getFilename(url: string) {
            return url.split("/").pop();
        },

        sendDeleteRequest(url: string, index: number) {
            const filename = url.split("/").pop();
            if (filename) {
                deleteFile(filename).then(() => {
                    this.fileList!.splice(index, 1);
                }).catch(() => {
                    console.error("could not delete file");
                });
            }
        }
    },

});
</script>

<style lang="scss">
  img {
    width: 10rem;
  }
</style>
